.card-request {
  padding: 40px;

  .title {
    text-align: left;
    letter-spacing: 0px;
    color: #004B40;
    text-transform: uppercase;
  }

  .info-search {
    display: flex;
    align-items: center;
    margin-bottom: 60px;

    .search-icon {
      height: 15px;
      padding-right: 10px;
    }
  }

  .filter {
    .flex-inputs {
      display: flex;
    }

    .ml-45 {
      margin-left: 45px;
    }

    // .group {
    //   position: relative;
    //   margin-bottom: 45px;
    // }

    // input {
    //   font-size: 18px;
    //   padding: 10px 10px 10px 5px;
    //   display: block;
    //   width: 190px;
    //   border: none;
    //   border-bottom: 1px solid #757575;
    // }

    // input:focus {
    //   outline: none;
    // }

    // label {
    //   color: #999;
    //   font-size: 18px;
    //   font-weight: normal;
    //   position: absolute;
    //   pointer-events: none;
    //   left: 5px;
    //   top: 10px;
    //   transition: 0.2s ease all;
    //   -moz-transition: 0.2s ease all;
    //   -webkit-transition: 0.2s ease all;
    // }

    // input:focus~label,
    // input:valid~label {
    //   top: -20px;
    //   font-size: 16px;
    //   color: #000;
    // }

    // .bar {
    //   position: relative;
    //   display: block;
    //   width: 205px;
    // }

    // .bar:before,
    // .bar:after {
    //   content: '';
    //   height: 2px;
    //   width: 0;
    //   bottom: 1px;
    //   position: absolute;
    //   background: #004B40;
    //   transition: 0.2s ease all;
    //   -moz-transition: 0.2s ease all;
    //   -webkit-transition: 0.2s ease all;
    // }

    // .bar:before {
    //   left: 50%;
    // }

    // .bar:after {
    //   right: 50%;
    // }

    // input:focus~.bar:before,
    // input:focus~.bar:after {
    //   width: 50%;
    // }

    .buttons {
      display: flex;
      gap: 22px;
    }
  }

  .btn {
    width: 166px;
    height: 38px;
    border-radius: 2%;
    font-size: 16px;
  }

  .btn-default {
    background-color: #004B40;
    border: 1px solid #004B40;
    color: #FFF;
  }

  .btn-without-bg {
    border: 1px solid #004B40;
    background-color: #FFF;
    color: #004B40;
  }

  .button {
    display: flex;
    justify-content: flex-end;
    margin: 9px 0 16px;
  }

  table {
    width: 100%;

    ::ng-deep {
      tr.mat-header-row {
        background-color: #004B40;
      }

      .mat-header-cell {
        color: #FFF;
      }
    }
  }
}