<section class="login">
  <div class="complement">
    <p class="paragraph">¡Bienvenido a la herramienta de registro Coink!</p>
    <!-- image here -->
    <img src="assets/image/coink1.png" height="250" alt="coink1">
    <p class="text">Coink para tu día a día. Empieza ahorrando y cumple tus sueños con propósito.</p>
    <!-- image here -->
    <img src="assets/image/coink2.png" height="200" alt="coink2">
  </div>
  <div class="form-login">
    <div class="account">
      <p class="without-account">¿Aún no tienes una cuenta?</p>
      <p class="without-account">Regístrate ahora</p>
    </div>
    <div class="form">
      <p class="title">Iniciar sesión en Coink</p>

          <!-- <mat-form-field appearance="outline">
            <mat-label>Outline form field</mat-label>
            <input matInput placeholder="Placeholder">
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Outline form field</mat-label>
            <input matInput placeholder="Placeholder">
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
          </mat-form-field> -->

    </div>
  </div>
</section>