<section class="sidebar">
  <!-- coink logo -->
  <div class="coink-icon">
    <img src="assets/image/logo-coink.png" alt="logo-coink">
  </div>
  <!-- avatar -->
  <div class="avatar">
    <!-- change div for img -->
    <div class="circle"></div>
    <div class="name-avatar">
      <img src="assets/image/padlock.png" alt="">
      <span>Jeff</span>
    </div>
  </div>
  <!-- menu -->
  <div class="menu">
    <mat-accordion class="example-headers-align" multi>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Tarjetas Visa en dispensadores
          </mat-panel-title>
        </mat-expansion-panel-header>

        <button mat-flat-button>Crear dispensador</button>
        <button mat-flat-button>Monitorear y editar dispensadores</button>
        <button mat-flat-button>Solicitud tarjetas</button>

      </mat-expansion-panel>
    </mat-accordion>

  </div>
</section>